@model IEnumerable<Mock6.Data.Employee>

@{
    ViewData["Title"] = "Employee";
}

<h1>Employee</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<form asp-action="RetirementInfo" method="post">
    Id: <input type="number" name="Id" value="" />
    <input type="submit" name="" value="Submit" />
</form>

<form asp-action="AddEmployee" method="post">
    FirstName: <input type="text" name="FirstName" />
    Age: <input type="number" name="Age" />
    Salary: <input type="number" name="Salary" step="0.00" />
    <input type="submit" value="Slagathor" />
</form>

@*<form asp-action="AddEmployee" method="post">
    FirstName: <input asp-for="FirstName" />
    Age: <input asp-for="Age" />
    Salary: <input asp-for="Salary" />
    <input type="submit" value="Slagathor" />
</form>*@
